<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template 1</title>
</head>
<body>
   <h3>"hola" {{name}}</h3> 

   <P>{{ahora}}</P>

<ul>
    
    {% for nota in notas %}
        <li>
            
            {% if nota < 4 %}
                <p style="color: red;">Nota mala {{nota}} </p>
            {% else %}
                <p style="color: blue;">nota buena {{nota}}</p>
            {% endif %}
                
            
        </li>
    {% endfor %}
        

</ul>

   <p>{{notas}}</p>
</body>
</html>