<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template 2</title>
</head>
<body>
   <h3>"hola 2" {{Profesor}}</h3> 

<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>nombre</td>
            <td>Apellido </td>
            <td>email</td>
            <td>profesion</td>
        </tr>
    </thead>
    <tbody>
        
        {% if profe %}
        
            {% for p  in profe  %}
            <tr>
                <td>{{p.id}}</td>
                <td>{{p.nombre}}</td>
                <td>{{p.apellido}}</td>
                <td>{{p.email}}</td>
                <td>{{p.profesion}}</td>
            {% endfor %}
        </tr>
            
        {% else %}
            <h1>no hay registros</h1>
        {% endif %}
            
    </tbody>
</table>
</body>
</html>