<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familiares</title>
</head>
<body>
   <h3>"Familiares"</h3> 

<table>
    <thead>
        <tr>
          
            <td>Nombre</td>
            <td>Apellido </td>
            <td>dni </td>
            <td>fecha nacimiento </td>

        </tr>
    </thead>
    <tbody>
        
        {% if familia %}
        
            {% for f  in familia  %}
            <tr>
                <td>{{f.nombre}}</td>
                <td>{{f.apellido}}</td>
                <td>{{f.dni}}</td>
                <td>{{f.fecha_nacimiento}}</td>

            {% endfor %}
        </tr>
            
        {% else %}
            <h1>no hay registros</h1>
        {% endif %}
            
    </tbody>
</table>
</body>
</html>